{% extends 'base.html.twig' %}

{% block title %}Hello LegalsController!{% endblock %}

{% block body %}
    <h1>Mentions Légales</h1>

    <h2>Informations générales</h2>
    <p>Raison sociale : Exemple Corporation</p>
    <p>Adresse : 123 Rue Fictive, Ville Imaginaire</p>
    <p>Téléphone : +12 345 678 90</p>
    <p>Email : contact@exemplecorp.com</p>

    <h2>Responsabilité</h2>
    <p>Le contenu de ce site web est fourni à titre informatif uniquement. Nous nous efforçons de maintenir les informations à jour et exactes, mais nous ne pouvons garantir leur exhaustivité ou leur exactitude.</p>
    <p>En tant qu'utilisateur, vous assumez l'entière responsabilité de l'utilisation de ce site et de ses contenus. Nous déclinons toute responsabilité en cas de dommages directs, indirects, accidentels ou consécutifs résultant de votre utilisation de ce site.</p>

    <h2>Propriété intellectuelle</h2>
    <p>Tous les contenus présents sur ce site, tels que textes, images, logos, vidéos, sont la propriété exclusive d'Exemple Corporation ou de ses partenaires. Toute reproduction, distribution, modification ou utilisation non autorisée de ces contenus est strictement interdite.</p>

    <h2>Liens externes</h2>
    <p>Ce site peut contenir des liens vers des sites web externes. Nous ne sommes pas responsables du contenu de ces sites et n'approuvons pas nécessairement leurs opinions ou leurs produits. L'accès à ces liens externes se fait à vos propres risques.</p>

    <h2>Protection des données personnelles</h2>
    <p>Nous nous engageons à respecter la confidentialité de vos données personnelles. Nous collectons uniquement les informations nécessaires à la fourniture de nos services et nous nous engageons à ne pas les partager avec des tiers sans votre consentement.</p>
    <p>Pour plus d'informations sur notre politique de confidentialité et sur vos droits en matière de données personnelles, veuillez consulter notre politique de confidentialité.</p>

    <h2>Droit applicable</h2>
    <p>Ces mentions légales sont régies par les lois fictives en vigueur.</p>

    <p>Dernière mise à jour : 1er janvier 2023</p>
{% endblock %}
